// _links.scss
//
// Generic helpers and tools for dealing with links (a tag).
// IMPORTANT: Do not output any CSS in this file


/// Paints all states of a link in the color passed in argument $color. Colors
/// for the pseudo classes (ie. :hover) are optional. 
///
/// @param {color} $color - default color used for text links
/// @param {color} $link [null] - color used for pseudo class :link
/// @param {color} $visited [null] - color used for pseudo class :visited
/// @param {color} $hover [null] - color used for pseudo class :hover
/// @param {color} $focus [null] - color used for pseudo class :focus
/// @param {color} $active [null] - color used for pseudo class :active

@mixin link-colors(
  $color,
  $link: null,
  $visited: null,
  $hover: null,
  $focus: null,
  $active: null
) {
  color: $color;
  &:link {
    @if ($link) {
      color: $link;
    } @else {
      color: $color;
    }
  }
  &:visited {
    @if ($visited) {
      color: $visited;
    } @else {
      color: $color;
    }
  }
  &:hover {
    @if ($hover) {
      color: $hover;
    } @else {
      color: $color;
    }
  }
  &:focus {
    @if ($focus) {
      color: $focus;
    } @else {
      color: $color;
    }
  }
  &:active {
    @if ($active) {
      color: $active;
    } @else {
      color: $color;
    }
  }
}
