doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Sassbox Demo
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //-link(rel='shortcut icon', href='/favicon.ico')
    //-link(rel='apple-touch-icon', href='/apple-touch-icon.png')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css styles/vendor.css
    // endbuild
    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
  body
    <!--[if lt IE 9]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    h1 Hello Sassbox
    
    
    h2 Images
    
    h3 svg-fallback()
    
    .example
      .svg-fallback
    

    h2 Typography
    
    h3 font-smoothing()
    
    .example
      p.typography.font-smoothing.default font-smoothing()
      p.typography.font-smoothing.strong font-smoothing(strong)
      p.typography.font-smoothing.sharp font-smoothing(sharp)
      p.typography.font-smoothing.none font-smoothing(none)

    .example.inverse
      p.typography.font-smoothing.default font-smoothing()
      p.typography.font-smoothing.strong font-smoothing(strong)
      p.typography.font-smoothing.sharp font-smoothing(sharp)
      p.typography.font-smoothing.none font-smoothing(none)
    
    
    h2 Responsive typography
    
    .example
      p Resize the viewport!
      p.responsive-typography.deci sb-font-size(deci)
      p.responsive-typography.uno sb-font-size(uno)
      p.responsive-typography.deca sb-font-size(deca)

    // build:js scripts/main.js
    //-script(src='scripts/main.js')
    // endbuild
